.detail {
  padding: 1.25rem 1.88rem 1.88rem 1.88rem;
  background-color: white;
  
  .title {
    line-height: 4.38rem;
    font-size: 3.13rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(34, 43, 60, 1);
  }

  .time {
    line-height: 2.31rem;
    font-size: 1.63rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(146, 155, 170, 1);
    margin-top: 1.25rem;
  }

  .section-name {
    margin-top: 4.38rem;
    line-height: 2.81rem;
    font-size: 1.88rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(34, 43, 60, 1);
  }

  .section-name + p {
    margin-top: 2.56rem;
  }

  p {
    line-height: 2.31rem;
    font-size: 1.63rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(146, 155, 170, 1);
    img {
      width: 100%;
      margin: 1.2rem 0;
    }
  }
}
